<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!--
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
-->
<!--web-fonts-->
<link href='https://fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mmenu.all.css?v=5.4.4') }}" />
<!--
<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css?v=5.4.4" />
-->
<!--//web-fonts-->
<!-- js -->
<!-- //js -->
<!-- chart -->
<!-- //chart -->
</head>
<body>
	<div class="banner-text">
		<div class="title">
			<div class="title-right">
				<h2>{{date}} の </h2>
				<h2>宿題</h2>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="banner-bottom">
		<div class="banner-bottom-left">
			<h3>{{submit}}</h3>
			<p>Submitted </p>
		</div>
		<div class="banner-bottom-right">
			<h3>{{unsubmit}}</h3>
			<p>UnSubmitted</p>
		</div>
		<div class="clear"> </div>
	</div>
	<div class="work-text">
		<section class="ac-container">
		{% for key,value in result.items() %}
			<div>
				<input id="ac-{{loop.index}}" name="accordion-{{loop.index}}" type="checkbox" checked />
				<label for="ac-{{loop.index}}" class="grid{{loop.index%4}}"><i></i>{{key}}</label>
				<article class="ac-small">
					<p>        
					{%if value|length==0 %}
					<td>    unsubmitted <td>
					{%else%}
        				<td>    {{ value }} <td>
        				{%endif%}
					</p>
				</article>
			</div>
		{%endfor%}
		</section>
	</div>
</body>
</html>
